<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="${basedir}/Logs/internal-nlog.log">
  <!--
    See the docs:
    https://github.com/NLog/NLog/wiki/Configuration-file
    https://github.com/nlog/NLog/wiki/File-target
  -->

  <variable name="LogsDir" value="./Logs/" />
  <variable name="MaxFileSizeBytes" value="5000000" />

  <!--<targets async="true">-->
  <targets>
    <target name="console" xsi:type="ColoredConsole" layout="${level}: ${message} ${exception:format=tostring}"/>

    <target xsi:type="File" name="DebugFile" fileName="${LogsDir}/Debug.log" archiveAboveSize="${MaxFileSizeBytes}"
      layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}"
    />
    
    <target xsi:type="File" name="ErrorsFile" fileName="${LogsDir}/Errors.log" archiveAboveSize="${MaxFileSizeBytes}"
      layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}"
    />
    
    <target xsi:type="File" name="TransactionFile" fileName="${LogsDir}/Transaction.log" archiveAboveSize="${MaxFileSizeBytes}"
      layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}"
    />

  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="console" />
    <logger name="*" minlevel="Trace" writeTo="DebugFile"  enabled="false"/>
    <logger name="*" minlevel="Error" writeTo="ErrorsFile" enabled="true"/>

    <!--Skip non-critical Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" maxlevel="Info" final="true" /> <!-- BlackHole without writeTo -->
    <logger name="*"    level="Info"  writeTo="TransactionFile"    enabled="true"/>
  </rules>
</nlog>
